<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:220px;font-weight:bold;" id="mySidebar"><br>
  <h2><a href="#sims" class="w3-bar-item w3-button w3-hover-white w3-padding-small">Симы</a></h2>
  <h4><a href="#statistics" class="w3-bar-item w3-button w3-hover-white w3-padding-small">Статистика</a></h4>
  <div class="w3-bar-block">
    <a href="#{{sim.firstName}}" class="w3-bar-item w3-button w3-hover-white w3-padding-small" *ngFor="let sim of displayedSims">{{sim.firstName}}</a>
  </div>
</nav>
<app-sims (simsToDisplay)="addSims($event)" id="sims"></app-sims>
<app-statistics id="statistics"></app-statistics>
